.sq-input {
  border: 1px solid rgb(223, 223, 223);
  outline-offset: -2px;
  margin-bottom: 5px;
}
.sq-input--focus {
  /* how your inputs should appear when they have focus */
  outline: 5px auto rgb(59, 153, 252);
}
.sq-input--error {
  /* how your inputs should appear when invalid */
  outline: 5px auto rgb(255, 97, 97);
}
